* {
    box-sizing: border-box;
    margin: 0;
}

body {
    /* background-color: rgb(120, 201, 187); */
    /* background: url('./img/mR7FOaC\ -\ Imgur.jpg') no-repeat center center fixed; */
    background: linear-gradient(to right, rgb(97, 111, 236), rgb(172, 122, 187), rgb(209, 119, 186));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: Helvetica;
}

/* CSS for Header */

header {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    height: 5rem;
    background-color: black;
    align-items: left;
    border-bottom: 4px solid white;
}

h1 {
    font-family: 'VT323';
    color: lime;
    margin-left: 1.5rem;
    font-size: 3.0rem;
}

/* CSS for coin selection */

#select-coins {
    height: 5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 1.5rem;
    font-family: "Poppins";
    background-color: rgba(32, 31, 31, 0.9);
    font-size: 1.05rem;
    border-bottom: 3px dashed white;
}

#crypto-input {
    margin-left: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#crypto-two {
    margin-left: 5px;
}

input[type=text] {
    background-color: black;
    border: 2px solid white;
    color: lime;
    font-family: 'VT323';
    font-size: 1.2rem;
    height: 2.2rem;
}

input[type=submit] {
    border: 3px solid rgb(246, 247, 246);
    color: black;
    height: 2.2rem;
    margin-left: 5px;
    margin-right: 5px;
}

/* CSS for Main Body */

main {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
}

#left-bar, #right-bar {
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 80px;
}

#main-container {
    display: grid;
    grid-template-columns: 1fr 4fr 4fr 1fr;
    grid-template-rows: 0.25fr 3.5fr 0.5fr;
    grid-gap: 5px;
}

#introduction {
    grid-column: 2/4;
    grid-row: 2/3;
    font-family: "Poppins";
    font-size: 1.35rem;
    text-align: center;
    display: flex;
    align-items: center;
}

#introduction span {
    font-family: 'VT323';
    color: lime;
    font-size: 1.55rem;
}

#introduction p {
    margin: 0 auto;
    vertical-align: middle;
}

#crypto-a {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#crypto-b {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

#speculate {
    grid-column: 2/4;
    grid-row: 3/4;
}

.crypto-card-a {
    border: 5px solid rgb(212, 64, 175);
    height: 85%;
    width: 85%;
    background-color: rgba(255, 192, 203,0.95);
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: grid;
    grid-template-rows: 2fr 0.1fr 3fr 0.1fr 2fr;
}
.crypto-card-b {
    border: 5px solid rgb(60, 193, 245);
    height: 85%;
    width: 85%;
    background-color: rgba(165, 176, 236, 0.95);
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: grid;
    grid-template-rows: 2fr 0.1fr 3fr 0.1fr 2fr;
}

.symbol {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.symbol h3 {
    font-family: "Poppins";
    font-size: 2rem;
}

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin-top:5%;
    margin-bottom: 5%;
    font-family: "Poppins";
}

.price h4 {
    font-size: 1.4rem;
}

.supply {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: "Poppins";
}

#speculate {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#speculate-button {
    width: 50%;
    height: 50%;
    background:rgba(0, 0, 0, 0.45);
    color:white;
    font-size: 1.10rem;
    text-align: center;
    box-shadow: rgba(218, 162, 43, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#speculate a {
    font-size: 1.10rem;
    margin-left: 50px;
    font-family: "Poppins";
    color: black;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    color: lime;
    flex-direction: column;
    background-color: rgb(7, 7, 7);
    border-top: 1px solid white;
} 

@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

    * {
        box-sizing: border-box;
        margin: 0;
    }

    body {
        background: linear-gradient(to right, rgb(97, 111, 236), rgb(172, 122, 187), rgb(209, 119, 186));
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        font-family: Helvetica;
    }

    header {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: center;
        height: 5rem;
        background-color: black;
        align-items: left;
        border-bottom: 2px solid white;
    }
    
    h1 {
        font-family: 'VT323';
        color: lime;
        margin-left: 1.2rem;
        font-size: 1.5rem;
    }

    #left-bar, #right-bar {
        display: none;
    }

    #select-coins {
        height: 100px;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        padding-left: 2px;
        font-family: "Poppins";
        background-color: rgba(32, 31, 31, 0.9);
        font-size: 11px;
        border-bottom: 1px dashed white;
    }
    
    #crypto-input {
        margin-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    #crypto-two {
        margin-left: 2px;
    }
    
    input[type=text] {
        background-color: black;
        border: 0.5px solid white;
        color: lime;
        font-family: 'Poppins';
        font-size: 120%;
        height: 30px;
        width: 120px;
    }
    
    input[type=submit] {
        border: 0.5px solid rgb(246, 247, 246);
        color: black;
        height: 30px;
        margin-left: 2px;
        margin-right: 2px;
    }

    main {
        flex-grow: 1;
        display: flex;
    }

    #main-container {
        display: flex;
        width: 375px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #introduction {
        grid-column: 1/4;
        grid-row: 1/4;
        font-family: "Poppins";
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.0rem;
        text-align: center;
        display: flex;
        align-items: center;
    }
    
    #introduction span {
        font-family: 'VT323';
        color: lime;
        font-size: 1.25rem;
    }
    
    #introduction p {
        margin: 0 auto;
        vertical-align: middle;
    }

    #crypto-a {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
    }
    
    #crypto-b {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 300px;
    }

    .crypto-card-a {
        border: 2px solid rgb(212, 64, 175);
        height: 240px;
        width: 330px;
        background-color: rgba(255, 192, 203,0.95);
        border-radius: 10%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        display: grid;
        grid-template-rows: 2fr 0.1fr 3fr 0.1fr 2fr;
    }
    .crypto-card-b {
        margin-top: 15px;
        border: 2px solid rgb(60, 193, 245);
        height: 240px;
        width: 330px;
        background-color: rgba(165, 176, 236, 0.95);
        border-radius: 10%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        display: grid;
        grid-template-rows: 2fr 0.1fr 3fr 0.1fr 2fr;
    }

    #speculate {
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    
    #speculate-button {
        margin-top: 15px;
        width: 200px;
        height: 30px;
        background:rgba(0, 0, 0, 0.45);
        color:white;
        font-size: 0.8rem;
        text-align: center;
        box-shadow: rgba(218, 162, 43, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }

    .symbol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .symbol h3 {
        font-family: "Poppins";
        font-size: 30px;
    }

    .symbol img {
        height: 40px;
        width: 40px;
    }
    
    .price {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        margin-top:5%;
        margin-bottom: 5%;
        font-family: "Poppins";
    }
    
    .price h4 {
        font-size: 1.1rem;
    }
    
    .supply {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
        margin-bottom: 5%;
        font-family: "Poppins";
    }

    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 30px;
        color: lime;
        font-size: 10px;
        flex-direction: column;
        background-color: rgb(7, 7, 7);
        border-top: 1px solid white;
    } 
}